.header {
    align-items: center;
    display: flex;
    max-height: 152px;
    justify-content:space-around;
    padding: 35px 200px;
}
.logo {
    max-width: 94px;
    max-height: 83px;
}
.navbar ul {
    align-items: center;
    display: flex;
    justify-content: center;    
}
.navbar li {
    color: #ffffff;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    list-style: none;
    line-height: 24px;
    padding-right: 90px;

}
.text-md {
    height: 24px;  
}
.btn-login {
    border: none;
    border-radius: 4px;
    font-weight: 700;
    min-height: 57px;
    min-width: 208px;

}