.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*******************BG-color**********************/
.bg-white {
  background-color: #FFF3E9;
}
.bg-gray {
  background-color: #FDFDFD;
}
.bg-aqure{
  background-color: #E1EBED;
}
.bg-choc {
  background-color: #FD7E14;
}
.bg-lightbule {
  background-color: #0096B0;
}
.bg-grey {
  background-color: #B7B7B7;
}
.bg-darkbrown {
  background-color: #3D1E05;
}
.bg-darkblue {
  background-color: #013F49;
}
.bg-dark {
  background-color: #373737;
}