.footer {
    padding: 90px 90px 40px;
}

.f_content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 90px;
}

.f_subcontent {
    width: 450px;
    height: 300px;
    text-align: left;
    width: 435px;
    padding-right: 30px;
}

.f_title {
    /* border-bottom: 3px solid #FD7E14; */
    color: white;
    font-family: Encode Sans Condensed;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
    text-decoration: underline solid #FD7E14 3px;
    text-underline-offset: 9px;
}

.f_main_content {
    color: white;
    font-family: Encode Sans Condensed;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.f_main_content ul, li {
    /* list-style-image: url('/public/svg/Ellipse.svg'); */
    color: white;
    padding: 0;
    list-style: none;
    text-decoration-line: none;

}


.f_main_content li::before {
    content: "\2022";
    color: #FD7E14;
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -1em;
}

.contactinfo li::before {
    display: none;
    width: 2em;
    margin-left: -1em;
}

.f_follow {
    align-items: center;
    color: white;
    display: flex;
    font-family: Encode Sans Condensed;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 45px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.f_bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.f_logo {
    align-items: center;
    display: flex;
    justify-content: end;

    padding-right: 30px;
}

.f_logo img {
    width: 62px;
    height: 60px;
}